* {margin: 0;}

body {
    
}

.wrap {
    width: 1000px;
    margin: 0 auto;
}

header {min-height: 450px; 
background: url('../images/image-1.jpg') ; /*фон*/
background-size: cover;
}

.top-line {
    height: 85px;
    background: rgba(3,4,5, 0.5);
    padding: 40px 0;
}

.phone {
    color: rgb(22, 111, 228);
    font-size: 20px; 
    float: right;
    font-family: Calibri;
    margin-top: 5px;

}

.callback {
    font-size: 15px;
    color: #ffffff;
    background: none;
    border: 2px solid #018dc4;
    border-radius: 10px;
    padding: 5px 10px;
    float: right;
    margin-top: 25px;
    margin-left: 20px;
}

.logo {
    margin-top: 20px;
}

h1 {
    font-size: 37px;
    color: #ffffff;
    font-family: bold;
    margin-bottom: 40px;
}

h2 {
    color: #00a9ea;
    font-size: 19px;
    margin-bottom: 65px;
}

.main {
    text-align: center;
    padding: 90px 0 130px 0;
}

.register {
    color: #fff;
    font-family: Calibri-bold;
    font-size: 15px;
    background: #ee6e22;
    border-radius: 10px;
    border: none;
    padding: 15px 10px;
    text-transform: uppercase;
    margin-bottom: 35px;

}

.callback2 {
    float: none;
    margin-right: 23px;
}

.callback2 img {
    width: 16px;
}

.callback span {
    position: relative;
    top: -3px;
}

.divider {
    height: 80px;
    background: #ee6e22;
}

.program {
    padding: 70px 0;
    background: #fff;
}

.right {
    width: 500px;
    float: right;
}

h3 {
    color: #231f20;
    font-size: 42px;
    font-family: Acrom-bold;
    margin-bottom: 40px;
}

ul li {
    color: #00aaeb;
    font-size: 24px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.comment-img {
    border-radius: 100%;
    position: relative;
    left: 5px;
    top: 10px;
}

.comment {
    background: url(../images/image-1.jpg);
    background-size: cover;
    padding: 60px 0 100px 0;
}

.comment h3 {
    margin-top: 60px;
    color: #00a9ea;
    font-size: 35px;
}

.comment p {
    color: #fff;
    font-size: 23px;
}

.clear {
    clear: both;
}

footer {
    background: url(../images/image-2.jpg);
    background-size: cover;
    padding: 50px 0;
    color: #fff; 
}

.col-3 {
    width: 33.333%;
    float: left;
}

.callback3 {
    font-size: 15px;
    color: #ffffff;
    background: none;
    border: 2px solid #018dc4;
    border-radius: 6px;
    padding: 5px 10px;
    /* margin-left: 40px; */
    width: 150px;
}

footer label {
    display: inline-block;
    width: 100px;
}

footer p {
    margin-bottom: 20px;
}

footer button {
    margin-top: 50px;
}

footer img {
    margin-top: 50px;
}